

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.bookeditor table .delete-button{
    visibility: hidden;
}
.bookeditor table tr:hover .delete-button{
    visibility: visible;
}
.split-underneath > *{
    margin-right: 3em;
}
.book-to-borrow{
    border-radius: 5px;
    padding: 10px;
    padding-top: 0px;
    border: 1px solid #eee;
    margin-bottom: 10px;
}
















