<div class="checkservice">
    <div class="row">
        <h2>Check service</h2>
        <hr/>
        <div class="col-md-12">
            <form  role="form">
                <div class="form-group">
                    <input type="text" placeholder="Search" class="form-control"  ng-model="searchquery">
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped table-bordered table-hover">
                <tr>
                    <th>Customer name</th><th>ISBN</th><th>Borrowed</th><th>Returns</th>
                </tr>

                <tr ng-repeat="service in services | filter:searchquery">
                    <td>{{service.user.firstname + ' ' + service.user.lastname}} </td><td>{{service.book.isbn}}</td><td>{{service.startTime}}</td><td>{{service.endTime}}</td>
                </tr>

            </table>
        </div>
    </div>
</div>