<div class="row bookeditor">
    <h2>Add/edit/remove book</h2>
    <hr/>
    <div class="col-md-4">
        <form  role="form">
            <div class="form-group">
                <input type="text" placeholder="Title" class="form-control">
            </div>
            <div class="form-group">
                <input type="text" placeholder="Author's name" class="form-control">
            </div>
            <div class="form-group">
                <input type="text" placeholder="ISBN" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">Add/Update</button>
            <button type="submit" class="btn btn-danger">Stop edit</button>
        </form>
    </div>
    <div class="col-md-8">
        <table class="table table-striped table-bordered table-hover">
            <tr>
                <th>Title</th><th>Autor's name</th><th>ISBN</th>
            </tr>

            <tr>
                <td>Lorem ipsum dolor sit amet</td><td>Consectetur Amit</td><td>43-434-5345-342 <a class="btn btn-danger btn-sm delete-button pull-right" href="/ui/bookeditor" role="button">Remove</a></td>
            </tr>
            <tr>
                <td>Lorem ipsum dolor sit amet</td><td>Consectetur Amit</td><td>43-434-5345-342 <a class="btn btn-danger btn-sm delete-button pull-right" href="/ui/bookeditor" role="button">Remove</a></td>
            </tr>
            <tr>
                <td>Lorem ipsum dolor sit amet</td><td>Consectetur Amit</td><td>43-434-5345-342 <a class="btn btn-danger btn-sm delete-button pull-right" href="/ui/bookeditor" role="button">Remove</a></td>
            </tr>
            <tr>
                <td>Lorem ipsum dolor sit amet</td><td>Consectetur Amit</td><td>43-434-5345-342 <a class="btn btn-danger btn-sm delete-button pull-right" href="/ui/bookeditor" role="button">Remove</a></td>
            </tr>

        </table>
    </div>
</div>